.book-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-preview h4 {
    text-transform: capitalize;
    color: black;
}

.book-preview img {
    max-width: 100px;
}

.on-sale {
    width: 60px;
    height: 60px;
    margin: 0;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: rgb(241, 126, 126);
    padding: 7px;
    color: gold;
    border: 2px dotted gold;
    font-size: 1em;
}