.book-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.book-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr1bg);
    text-align: center;
    position: relative;
}

.book-list .btn-select-book {
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0.5em;
    border: 0;
    padding: 0.3em 0.8em;
    border-radius: 4px;
}

.book-list .btn-select-book:hover {

    background-color: var(--clr2);
    color: white;
    transition: .3s;
}